@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Open+Sans:wght@300;400&display=swap');
:root {
    --headings: 'Coda Caption', sans-serif;
    --bodyFont: 'Open Sans', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease;
    --lightgray: #f6f6f6;
    --white: #fff;
    --black: #1e1e1e;
    --primary: #3a8bcd;
    --gray: #6c757d;
    --text: #4a4a4a;
    --borders: #eeeeee;
}
/*****************
basic styles
*****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--bodyFont);
    font-size: var(--fontSize);
    color: var(--text);
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--headings);
}
a {
    text-decoration: none;
    color: var(--primary);
}
a:hover {
    transition: var(--transition);
}
ul {
    list-style: none;
}
.active {
    color: var(--primary);
}
.container {
    width: 70%;
    margin: auto;
}
button {
    padding: 15px 40px;
    margin-top: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}
/*****************
topbar
*****************/
.topbar {
    text-align: center;
    border-top: 5px solid var(--primary);
    border-bottom: 1px solid var(--lightgray);
    padding: 20px 0;
}
.topbar a {
    font-size: 2rem;
}
.topbar a:hover {
    color: var(--text);
}
.topbar a i {
    font-size: 2.5rem;
    color: var(--text);
}
/*****************
nav
*****************/
nav {
    text-align: center;
    padding: 15px 0;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li a {
    margin: 0 30px;
    text-transform: uppercase;
    color: var(--black);
}
/*****************
header
*****************/
header {
    background-image: url(../img/header.jpg);
    background-position: center top;
    background-size: cover;
    padding: 200px 0;
}
header article {
    width: 30%;
    background: rgba(255,255,255,.7);
    margin-left: 15%;
    padding: 40px;
}
header h2::after {
    display: block;
    content: "";
    height: 2px;
    width: 40px;
    background: var(--primary);
    margin: 20px 0;
}
header button {
    background: var(--primary);
    border: none;
    color: var(--white);
}
header button:hover {
    background: var(--black);
}